body {
  margin: 0;
  /* height: 2692.95px; */
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #1A374D;
}

h2 {
  color: #1A374D;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 40px;
}

h3 {
  color: #406882;
  font-family: 'Montserrat', sans-serif;
}

.dotted {
  margin: 0 auto;
  background-color: inherit;
  opacity: 1;
  border-style: none;
  border-top: dotted;
  border-color: #B1D0E0;
  border-width: 5px;
  width: 5%;
  padding-top: 50px;
}

p {
  color: #40514E;
  line-height: 2;
  font-size: 1.2rem;
}

.top-container {
  background-color: #B1D0E0;
  position: relative;
  margin: 0;
  padding-top: 128px;
  text-align: center;
}

.name {
  display: inline-block;
  width: 50%;
  margin: 0;
  font-size: 6rem;
}

.profession {
  display: inline-block;
  width: 50%;
  margin: 0;
  font-size: 2rem;
}

.vector-img {
  width: 50%;
}

.middle-container {
  margin: 50px auto;
  text-align: center;
}

.bottom-container {
  background-color: #B1D0E0;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 40px 0 20px 0;
  text-align: center;
}

.profile {
  margin: 50px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.round-img {
  height: 16rem;
  width: 16rem;
}

.design-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.develop-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.contact-me {
  padding-bottom: 50px;
}

.get-in-touch {
  padding-bottom: 50px;
}

.btn {
  background-image: linear-gradient(to bottom right, #2193b0, #6dd5ed);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background-image: linear-gradient(to bottom right, #1f4037, #99f2c8);
  text-decoration: none;
}

.footer-link {
  color: #406882;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
}

.copyrights {
  color: #406882;
  font: 0.75rem;
  padding-top: 20px;
}
