body {
  margin: 0;
  /* height: 2692.95px; */
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  color: #1A374D;
}

h2 {
  color: #1A374D;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 40px;
}

h3 {
  color: #406882;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #B1D0E0;
  border-width: 5px;
  width: 5%;
  padding-top: 50px;
}

p {
  color: #40514E;
  line-height: 2;
  font-size: 1.2rem;
}

.top-container {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  background-color: #B1D0E0;
  position: relative;
  margin: 0 auto 50px auto;
  padding-top: 128px;
  text-align: left;
}

.middle-container {
  margin: 50px auto;
}

.bottom-container {
  background-color: #B1D0E0;
  position: relative;
  margin: 50px auto 0 auto;
  padding: 40px 0 20px 0;
}

.top-text {
  flex: 50%;
  -ms-flex: 50%;
  text-align: center;

}
.name {
  margin: 0;
  display: inline-block;
  font-size: 7.5rem;
  padding-top: 200px;

}

.profession {
  display: inline-block;
  margin: 0;
  font-size: 2.5rem;
}

.top-vector {
  -ms-flex: 50%;
  flex: 50%;
}

.vector-img {
  width: 100%;
}

.profile {
  margin: 50px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.round-img {
  height: 16rem;
  width: 16rem;
}

.design-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.develop-img {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.contact-me {
  padding-bottom: 50px;
}

.get-in-touch {
  padding-bottom: 50px;
}

.btn {
  background: #3498db;
  background: linear-gradient(0deg, rgba(17,205,212,1) 0%, rgba(17,190,197,1) 50%, rgba(52,152,219,1) 100%);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;

  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background: linear-gradient(0deg, rgba(48,227,203,1) 0%, rgba(90,245,224,1) 50%, rgba(43,196,173,1) 100%);
  text-decoration: none;
}

.footer-link {
  color: #406882;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
}

.copyrights {
  color: #406882;
  font: 0.75rem;
  padding-top: 20px;
}


@media screen and (max-width: 700px) {
    .top-container{
        flex-direction: column;
    }
}
