body {
  margin: 0;
  /* height: 2692.95px; */
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #17252A;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #3AAFA9;
  position: relative;
  margin: 0;
  padding-top: 130px;
}

/* .middle-container {}

.bottom-container {} */

.name {
  color: #17252A;
  font-size: 6rem;
  margin: 50px auto 0 auto;
}
.profession {
  font-size: 1.5rem;
  margin: 0 auto;
}

.vector-img {
  margin: 0 auto;
  width: 50%;
}

.round-img {
  height: 16rem;
  width: 16rem;
}
