body {
  margin: 0;
  height: 2692.95px;
  width: 100%;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #17252A;
  height: 128px;
  width: 100%;
  position: fixed;
  top: 0;
}

.top-text {
  color: #FEFFFF;
}

.first-container {
  background-color: #3AAFA9;
  display: block;
  padding-top: 130px;

}

.name {
  color: #17252A;
  display: block;
  font-family: 'Sacramento', cursive;
  font-size: 100px;
  margin: 0;
  padding-top: 56px;
  text-align: center;
}

.profession {
  color: #17252A;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.vector {
  display: block;
  margin: 0 auto;
  padding-top:  25px;
  width: 50%;
}
